#balik{
	width: 400px;
	float: left;
}

#develop{
	width: 400px;
}

#reverse{
	width: 400px;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	float: right;
}

#kutu{
background: #FD5B03;
width: 200px;
height: 200px;
border-radius: 50%;
position: absolute;
}