<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div>
    <div>

    </div>
    <div ng-app="" class="form-group">
        <p>Ad:</p><input type="text" ng-model="name">
        <p>Soyad: </p> <input type="text" ng-model="surname">
        <p>İleti: </p><textarea type="text" class="form-check-label" ng-model="message">
        <p ng-bind="name"></p>
        <p ng-bind="surname"></p>
        <p ng-bind="message"></p>
    </div>
    <div>

    </div>
</div>
<div>

</div>
</body>
</html>